@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
$font: "Poppins", sans-serif;
$white: #ffffff;
$black: #000000;
$pri-color: #575151;
$sec-color: #383330;
$nav-color: #423f3f;
$active-color: #dedef9;
$pri-btn: #f58634;
$sec-btn: #3e4095;
