@media screen and (min-width: 700px) {
  .hide-on-lg {
    display: none;
  }
  .hide-on-sm {
    display: block;
  }
}
@media screen and (min-width: 1500px) {
  .container {
    width: 1300px !important;
  }
}
